/* 調整標題區塊的背景顏色和文字顏色 */
.jumbotron {
    background-color: #FEF5E7; /* 背景顏色改成淡黃色 */
    color: #38512F; /* 文字顏色改成深綠色 */
}

/* 調整導覽列的背景顏色和文字顏色 */
.navbar {
    background-color: #38512F; /* 背景顏色改成深綠色 */
    color: #FEF5E7; /* 文字顏色改成淡黃色 */
}

/* 調整內容區塊的文字顏色 */
.container {
    color: #38512F; /* 文字顏色改成深綠色 */
}

/* 調整超連結的文字顏色 */
a {
    color: #000000; 
}
